<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <!-- 後輪駆動 -->
    <joint name="left_back_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>

    <joint name="right_back_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>

    <!-- 前輪駆動 -->

    <joint name="left_front_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>

    <joint name="right_front_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>

    <!-- 前輪ステアリング -->
    <joint name="left_front_steering_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <joint name="right_front_steering_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

    <!-- 後輪ステアリング -->
    <joint name="left_back_steering_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>  

    <joint name="right_back_steering_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

  </ros2_control>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <!-- <parameters>$(find aurora_drive)/config/rover_controller_4wd_v2.yaml</parameters> -->
      <parameters>$(find aurora_drive)/config/controller_4ws.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
